header {
    position: fixed;
    width: 100%;
    z-index: 999;
}
header .headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 auto;
}
header .logo {
    position: relative;
    z-index: 999;
}
header .logo img {
    width: 150px;
}
header nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    text-align: center;
    background-color: rgba(255,255,255,.7);
    backdrop-filter: blur(10px);
}
header nav .gnb-menu {
    padding-bottom: 12px;
}
header nav .gnb-menu h3 {
    font-size: 16px;
    color: var(--color-basic);
    cursor: pointer;
}
header nav .gnb-in {display: none;}
header nav .gnb-in li {
    font-size: 14px;
    color: var(--color-basic);
    padding: 5px 0;
}
header nav .gnb-in li:first-child {padding-top: 12px;}
header nav .mypage {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: var(--color-text);
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 100%;
    background-color: var(--color-basic);
}
header .hamburger {
    position: relative;
    z-index: 999;
    color: var(--color-basic);
    font-size: 24px;
    cursor: pointer;
}
/* 메뉴 클릭 시 타이틀 색 바뀌게 */
header nav .gnb-menu h3.active {color:var(--color-high);}
/* 마우스오버 - 메뉴 색 변경 */
header nav .gnb-menu h3:hover {color: var(--color-high);}
/* 마우스오버 - 마이페이지 색 변경 */
header nav .mypage:hover {background-color: var(--color-high);}
/* 햄버거 메뉴 - 기본 상태에서 x 안 보이게 */
header .hamburger .fa-xmark {display: none;}
/* 햄버거 메뉴 - 클릭 상태에서 메뉴바 안 보이게, x 나타나게 */
header .mobile_ham_on .fa-bars {display: none;}
header .mobile_ham_on .fa-xmark {display: block;}
/* 햄버거 메뉴 - 클릭 상태에서 메뉴창 나타나게*/
header .mobile_menu_on {left: 0;}

/* section1 : 메인 슬라이드 */
.mainContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg);
    overflow: hidden;
}
.mainContainer .mainSlide {
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 96%;
    height: 100%;
    z-index: 9;
}
.mainContainer .main-slide {position:relative;}
/* 모바일에서 배경 이미지 안 보이게 */
.mainContainer .mainSlide .main-bg {display: none;}
.mainContainer .mainSlide .main-txt {
    position: absolute;
    bottom: 0;
    left: 2%;
    width: 96%;
    height: 82.18%;
    box-sizing: border-box;
    color: var(--color-text);
}
.mainContainer .mainSlide .title-sub {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
}
.mainContainer .mainSlide .title-main {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 900;
}
.mainContainer .mainSlide .main-txt-con {
    font-size: 16px;
    margin-bottom: 20px;
}
.mainContainer .mainSlide .main-txt-tag a {
    display: inline-block;
    font-size: 12px;
    padding: 8px 12px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 5px;
    margin-top: 5px;
}
.mainContainer .centerSlide {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.mainContainer .centerSlide .center-slide {
    text-align: center;
}
.mainContainer .centerSlide .center-img {
    width: 85.56%;
    margin: 0 auto;
}
.mainContainer .centerSlide .center-img img {width: 100%;}
.mainContainer .mainBtnNext,
.mainContainer .mainBtnPrev {display: none;}
/* 슬라이드 시 다른 슬라이드 안 보이게 */
.mainContainer .mainSlide .swiper-slide:not(.swiper-slide-visible),
.mainContainer .centerSlide .swiper-slide:not(.swiper-slide-visible) {visibility: hidden;}

/* section2 : 인기메뉴 */
.menuContainer {
    width: 100%;
    height: 100vh;
}
.menuContainer .menuWrapper {
    width: 96%;
    height: 100%;
    margin: 0 auto;
}
.menuContainer .menuSwiper {
    height: 80%;
}
.menuContainer .menuTitle {
    position: absolute;
    top: 70px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 5px;
}
.menuContainer .menuTitle span {
    font-size: 14px;
    letter-spacing: 3px;
}
.menuContainer .menu-slide {
    height: 100%;
}
.menuContainer .menu-item {
    position: relative;
    height: 100%;
    margin-top: 30%;
}
.menuContainer .menu-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 68.06%;
    z-index: 999;
}
.menuContainer .menu-img img {width: 100%;}
.menuContainer .menu-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55%;
    margin-top: 35%;
    padding-top: 30%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 20px;
}
.menuContainer .menu-text > div {text-align: center;}
.menuContainer .menu-text > div span {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 10px;
}
.menuContainer .menu-text > div h2 {
    font-weight: 900;
    font-size: 20px;
    margin: 10px 0;
}
.menuContainer .menu-text > div p {font-size: 14px;}
/* top메뉴 텍스트 배경 색상 */
.menuContainer .top1 {background-color: #DEB684;}
.menuContainer .top2 {background-color: #DFE7DD;}
.menuContainer .top3 {background-color: #D0A887;}
.menuContainer .top4 {background-color: #E6DEC1;}
.menuContainer .top5 {background-color: #D8EDEE;}
.menuContainer .top6 {background-color: #E9DDD3;}
.menuContainer .top7 {background-color: #FED582;}
.menuContainer .top8 {background-color: #B5D4E1;}
.menuContainer .top9 {background-color: #F7D9E0;}
.menuContainer .top10 {background-color: #DCC8DE;}

/* idx slide */
.menuContainer .idxSlide {
    width: 100%;
}
.menuContainer .idx-img {
    width: 100%;
    cursor: pointer;
}
.menuContainer .idx-img img {width: 100%;transition: .25s;}
.menuContainer .swiper-slide:not(.swiper-slide-thumb-active) .idx-img img {transform: scale(.7);}

/* section3 : 카테고리 */
.categoryContainer .categoryWrapper {
    width: 96%;
    height: 20%;
    margin: 0 auto;
}
.categoryContainer .category-ice {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 45vw;
    margin-bottom: 8px;
    border-radius: 20px;
    overflow: hidden;
    background: url('../images/menu_ice.jpg') no-repeat center / cover;
}
.categoryContainer .category-ice::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    transition: .25s;
}
.categoryContainer .categoryRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.categoryContainer .categoryRow > div {
    position: relative;
    width: calc(50% - 4px);
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.categoryContainer .categoryRow > div::after {
    content: '';
    display: block;
    padding-top: 100%;
}
.categoryContainer .categoryRow > div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.categoryContainer .category-inner {
    position: absolute;
    text-align: center;
    color: var(--color-text);
    transition: .3s;
}
.categoryContainer .category-inner h2 {
    font-weight: 900;
    font-size: 14px;
}
.categoryContainer .category-inner p {font-size: 12px;}
.categoryContainer .category-beverage {background-image: url('../images/menu_beverage.jpg');}
.categoryContainer .category-coffee {background-image: url('../images/menu_coffee.jpg');}
.categoryContainer .category-dessert {background-image: url('../images/menu_dessert.jpg');}
.categoryContainer .category-cake {background-image: url('../images/menu_cake.jpg');}
.categoryContainer .categoryRow > div::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}

/* section4 : info */
.infoContainer {
    height: 100vh;
    margin-top: 100px;
}
.infoContainer .info-item {
    position: relative;
    width: 100%;
    height: 33.33%;
}
.infoContainer .info-img {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.infoContainer .info-img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.infoContainer .info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.infoContainer .info-txt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.infoContainer .info-txt h2 {
    color: var(--color-text);
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 5px;
}
.infoContainer .info-txt p {
    color: var(--color-text);
    font-size: 14px;
    margin-top: 10px;
}
.infoContainer .info-item:hover .info-img img {transform: scale(1.2);}

/* section5 : sns */
.snsContainer {
    background-color: var(--color-bg);
    padding-top: 80px;
    padding-bottom: 30px;
}
.snsContainer .sns-txt {text-align: center;}
.snsContainer .sns-txt h2 {
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: 900;
}
.snsContainer .sns-txt p {
    margin: 10px 0 20px;
    font-size: 12px;
    letter-spacing: 5px;
}
.snsContainer .sns {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.snsContainer .sns li {margin: 0 5px;}
.snsContainer .sns a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--color-text);
    color: var(--color-bg);
}
.snsContainer .sns a:hover {color: var(--color-high);}
/* sns swiper */
.snsContainer .swiper-wrapper {transition-timing-function: linear;}
.snsContainer .snsSlide {
    position: relative;
    width: 25%;
    overflow: hidden;
}
.snsContainer .snsSlide::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}
.snsContainer .snsSlide img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}
/* 페이저 */
.pagerName {display: none;}
/* footer */
footer {
    border-top: 1px solid var(--color-text);
    background-color: var(--color-bg);
}
footer .map {
    text-align: center;
    padding-top: 30px;
    color: var(--color-text);
    font-size: 12px;
}
footer .map li {padding-bottom: 10px;}
footer .address {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 10px;
    color: var(--color-text);
}
footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    color: var(--color-text);
    font-size: 10px;
    background-color: var(--color-basic);
}