@media all and (min-width: 1024px) {
    /* header nav .gnb-menu {padding: 0 32px} */
    /* main */
    .mainContainer .mainSlide .main-txt-title .title-sub {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .mainContainer .mainSlide .main-txt-title .title-main {
        font-size: 54px;
        margin-bottom: 30px;
    }
    .mainContainer .mainSlide .main-txt-con {font-size: 24px;}
    .mainContainer .mainSlide .main-txt-tag {margin-top: 150px;}
    .mainContainer .mainSlide .main-txt-tag a {font-size: 20px;}
    /* top10 */
    .menuContainer .menu-wrapper {grid-template-columns: repeat(5, 1fr);}
    .menuContainer .menu-text > div h2 {font-size: 16px;}
    .menuContainer .menu-text > div p {font-size: 14px;}

    /* 카테고리 */
    .categoryContainer .category-ice {
        width: calc(100% - 24px);
    }
    .categoryContainer .categoryRow > div {
        width: calc(50% - 12px);
        height: calc(100% - 12px);
    }
    .categoryContainer .category-inner h2 {font-size: 36px;}
    .categoryContainer .category-inner p {font-size: 20px;}

    /* 정보 */
    .infoContainer .info-txt h2 {font-size: 48px;}
    .infoContainer .info-txt p {font-size: 20px;}

    /* sns */
    .snsContainer .sns-txt h2 {font-size: 34px;}
    .snsContainer .sns-txt p {
        font-size: 24px;
        margin: 20px 0 50px;
    }
    .snsContainer .sns {padding-bottom: 50px;}
    .snsContainer .sns li {margin: 0 15px;}
    .snsContainer .sns a {
        width: 70px;
        height: 70px;
        font-size: 35px;
    }

    /* footer */
    footer .map {font-size: 16px;}
    footer .address {font-size: 16px;}
    footer .copyright {font-size: 14px;}
}
@media all and (min-width: 1440px) {
    /* top10 */
    .menuContainer .menu-text > div span {font-size: 12px;}
    .menuContainer .menu-text > div h2 {font-size: 22px;}
    .menuContainer .menu-text > div p {font-size: 18px;}
}