@media all and (min-width: 768px) {
    header .logo img {width: 200px;}
    header nav {
        opacity: 0;
        background-color: transparent;
        transition: .3s;
    }
    header nav::after {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 60%;
        height: 100%;
        transform-origin: right;
        background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('../images/menu_bg.jpg') no-repeat center / cover;
    }
    header nav .gnb {
        position: absolute;
        top: 0;
        left: 60%;
        width: 40%;
        height: 100%;
        padding-top: 150px;
        box-sizing: border-box;
        background-color: var(--color-basic);
    }
    header nav .gnb-menu h3 {
        font-size: 32px;
        color: var(--color-text);
    }
    header nav .gnb-menu span {font-size: 18px;}
    header nav .gnb-in li {
        font-size: 20px;
        color: var(--color-text);
    }
    header nav .util {
        position: absolute;
        top: 90px;
        left: 60%;
        width: 40%;
        margin: 0;
        padding: 0 40px;
        box-sizing: border-box;
        border-top: 0;
    }
    header nav .util a {color: var(--color-text);}
    header .hamburger {font-size: 38px;}
    /* 햄버거 메뉴 - 클릭 시 색상 변경 */
    header .hamburger_on .fa-xmark {color: var(--color-high);}
    /* 햄버거 메뉴 - 클릭 상태에서 메뉴창 나타나게*/
    header .menu_on {opacity: 1;}

    /* section1 : 메인 슬라이드 */
    .mainContainer {background-color: transparent;}
    .mainContainer .mainSlide {
        left: 0;
        transform: unset;
        width: 100%;
        background-color: var(--color-bg);
    }
    .mainContainer .mainSlide .main-bg {
        display: block;
        position: relative;
        width: 50%;
        height: 100%;
    }
    .mainContainer .mainSlide .main-bg::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.4);
    }
    .mainContainer .mainSlide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .mainContainer .mainSlide .main-txt {
        bottom: unset;
        top: 25%;
        left: 50%;
        width: 50%;
        padding: 0 8%;
        height: unset;
    }
    .mainContainer .mainSlide .title-sub {font-size: 16px;}
    .mainContainer .mainSlide .title-main {font-size: 36px;}
    .mainContainer .mainSlide .main-txt-con {font-size: 20px;}
    .mainContainer .mainSlide .main-txt-tag {margin-top: 100px;}
    .mainContainer .mainSlide .main-txt-tag a {font-size: 16px;}
    /* pager */
    .mainContainer .mainSlide .mainPager {
        position: absolute;
        left: 25%;
        margin-bottom: 50px;
    }
    .mainContainer .mainSlide .mainPager span {
        width: 25px;
        height: 3px;
        border-radius: unset;
        margin: 0px;
    }
    /* centerslide*/
    .mainContainer .centerSlide {
        z-index: 99;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
    }
    .mainContainer .center-img {
        animation: shake 1s infinite linear alternate;
    }
    .mainContainer .mainBtnNext,
    .mainContainer .mainBtnPrev {
        display: block;
        color: var(--color-text);
        width: 60px;
        opacity: .5;
    }
    .mainContainer .mainBtnNext {padding-right: 30px;}
    .mainContainer .mainBtnPrev {padding-left: 30px;}
    .mainContainer .mainBtnNext:hover,
    .mainContainer .mainBtnPrev:hover {color: var(--color-high);}
    /* 센터 이미지 흔들리게 */
    @keyframes shake {
        0% {transform: rotate(-2.5deg);}
        100% {transform: rotate(2.5deg);}
    }

    /* section2 인기메뉴 */
    .menuContainer .menuSwiper {height: 100%;}
    .menuContainer .menu-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        height: auto;
    }
    .menuContainer .menu-slide {
        width: 100%;
        height: 100%;
    }
    .menuContainer .menu-slide::after {
        content:'';
        display: block;
        padding-bottom: 100%;
    }
    .menuContainer .menu-item {
        margin-top: 0;
        transition: .35s;
    }
    .menuContainer .menu-img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuContainer .menu-img img {
        transform: scale(.8);
        transition: .35s;
    }
    .menuContainer .menu-text {
        position: absolute;
        top: 30%;
        transform: scale(0);
        width: 100%;
        height: 100%;
        padding: 0;
        box-sizing: unset;
        border-radius: 100%;
        transition: .5s;
        transform-origin: center top;
        box-shadow: 5px 5px 5px rgba(0,0,0,.1);
    }
    .menuContainer .menu-text::after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
    .menuContainer .menu-text > div  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
    .menuContainer .menu-text > div span {font-size: 10px;}
    .menuContainer .menu-text > div h2 {font-size: 14px;}
    .menuContainer .menu-text > div p {font-size: 12px;}
    .menuContainer .idxSlide {display: none;}
    /* 마우스 올렸을 때 */
    .menuContainer .menu-slide:hover {z-index: 9999;}
    .menuContainer .menu-slide:hover .menu-item {transform: translateY(-30%);}
    .menuContainer .menu-slide:hover .menu-img img {transform: scale(1);}
    .menuContainer .menu-slide:hover .menu-text {transform: scale(.9);}

    /* section3 카테고리 */
    .categoryContainer {height: 100vh;}
    .categoryContainer .categoryWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 200px);
        height: 100%;
    }
    .categoryContainer .categoryCol1 {
        width: 33%;
        height: calc(100% - 170px); 
    }
    .categoryContainer .categoryCol2 {
        width: 67%;
        height: calc(100% - 170px);
    }
    .categoryContainer .category-item {height: 100%;}
    .categoryContainer .category-ice {
        width: calc(100% - 12px);
        height: 100%;
    }
    .categoryContainer .categoryRow {width: 100%; height: 50%;}
    .categoryContainer .categoryRow > div {
        width: calc(50% - 6px);
        height: calc(100% - 6px);
    }
    .categoryContainer .categoryRow > div::after {display: none;}
    .categoryContainer .category-inner h2 {
        font-weight: 900;
        font-size: 24px;
    }
    .categoryContainer .category-inner p {font-size: 16px;}
    .categoryContainer .category-ice:hover .category-inner,
    .categoryContainer .categoryRow > div:hover .category-inner {transform:scale(1.1);}
    .categoryContainer .category-ice:hover:before,
    .categoryContainer .categoryRow > div:hover:before {background-color: rgba(0,0,0,.5);}

    /* section4 : 정보 */
    .infoContainer {
        margin-top: 0;
        display: flex;
    }
    .infoContainer .info-item {height: 100%;}
    .infoContainer .info-txt {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .infoContainer .info-txt h2 {font-size: 36px;}
    .infoContainer .info-txt p {font-size: 18px;}

    /* section5 : sns */
    .snsContainer .sns-txt h2 {font-size: 24px;}
    .snsContainer .sns-txt p {
        font-size: 16px;
        margin: 15px 0 30px;
    }
    .snsContainer .sns {padding-bottom: 40px;}
    .snsContainer .sns li {margin: 0 10px;}
    .snsContainer .sns a {
        width: 50px;
        height: 50px;
        font-size: 25px;
    }
    /* 각 페이지 이름 */
    .pagerName {
        display: block;
        position: fixed;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
        z-index: 9999;
    }
    .pagerName .pager li {
        display: flex;
        align-items: center;
        margin: 10px 0;
        cursor: pointer;
        letter-spacing: 2px;
        font-size: 14px;
    }
    .pagerName .pager li span {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        margin-right: 20px;
        border: 1px solid;
    }
    .pagerName .pager li.on:nth-child(1) {color: var(--color-text);}
    .pagerName .pager li.on:nth-child(1) span {background-color: var(--color-text);}
    .pagerName .pager li.on:nth-child(4) {color: var(--color-text);}
    .pagerName .pager li.on:nth-child(4) span {background-color: var(--color-text);}
    .pagerName .pager li.on:nth-child(2) span,
    .pagerName .pager li.on:nth-child(3) span
     {background-color: black;}
    .pagerName .pager li:not(.on) {color:rgba(0,0,0,.3);}
    /* footer */
    footer .map {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    footer .map li {
        padding-bottom: 0;
        margin: 0 10px;
    }
    footer .address {
        font-size: 14px;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    footer .address li {padding-bottom: 10px;}
    footer .copyright {font-size: 12px;}
}